{{define "top"}}
<!DOCTYPE html>
<html lang="en">
<head>
  <title>My awesome soaps n shid!</title>
  <meta charset="UTF-8"/>
  <meta name="description" content="Sign up for our email listserv to get the latest updates on our soaps!"/>
</head>
<body>
  <nav role="navigation">
  <div>
    <h1>carlas country cabinets</h1>
    <ul>
      <li><a href="/">home</a></li>
      <li><a href="/about">about</a></li>
      <li><a href="/contact">contact</a></li>
    </ul>
  </div>
</nav>
<main>
{{end}}
